builddir/
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
config.guess
config.sub
config.rpath
compile
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.o
*.lo
*.la
*.so
*.so.*
*.a
Makefile
Makefile.in
*.desktop
intltool-*
